
<%: func AddUnStructuredServiceHandler(u datalayer.UserLogin, w io.Writer) %>


<%~ "layout.html" %>

<%@ title { %>
    ایجاد سرویس بدون ساختار
<% } %> 
<%@ username { %>
  <%= u.Fname+" "+u.Lname %>
<% } %> 
<%@ style { %>
  <!-- Dropzone.js -->
  <link href="/StaticUI/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
<% } %>
<%@ script { %>
  <!-- iCheck -->
  <script src="/StaticUI/vendors/iCheck/icheck.min.js"></script>
  <!-- Dropzone.js -->
  <script src="/StaticUI/vendors/dropzone/dist/min/dropzone.min.js"></script>
<% } %>
<%@ myscript { %>
  <script>
    Dropzone.options.dzform =
        {
            maxFilesize: 40,
            acceptedFiles: ".csv",
            success: function (file, response) {
              window.location.replace(response);;
            },
        };
</script>
<% } %>


<%@ body { %>
    <div class="">
        <div class="page-title">
            <div class="title_right">
              <h3>ایجاد سرویس‌ جدید</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>بارگذاری فایل</h2>
                  <ul class="nav navbar-left panel_toolbox">    
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p>لطفا فایلی که در نظر دارید بررسی شود را در اینجا بارگذاری کنید. فرمت فایل حتما باید <strong>(.csv)</strong> باشد.</p>
                  <form id="dzform" action="/AddUnStructuredService"  method="POST" class="dropzone needsclick dz-clickable" enctype="multipart/form-data">

                    <div class="dz-message needsclick">
                      <span class="note needsclick">برای بارگذاری فایل، فایل‌تان را اینجا رها کنید</span>
                    </div>
                  
                  </form>
                  <br />
                  <br />
                  <br />
                  <br />
                </div>
              </div>
            </div>
        </div>
      </div>
<% } %>

