
<%: func AddServiceHandler(u datalayer.UserLogin, w io.Writer) %>


<%~ "layout.html" %>

<%@ title { %>
    ایجاد سرویس‌ جدید
<% } %> 
<%@ username { %>
  <%= u.Fname+" "+u.Lname %>
<% } %> 
<%@ style { %>
    <!-- iCheck -->
    <link href="/StaticUI/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<% } %>
<%@ script { %>
  <!-- bootstrap-progressbar -->
  <script src="/StaticUI/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<% } %>


<%@ body { %>
    <div class="">
        <div class="page-title">
            <div class="title_right">
              <h3>ایجاد سرویس‌ جدید</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">

          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                  <div class="x_title">
                      <h2>ایجاد سرویس ساختاریافته</h2>
                      <ul class="nav navbar-left panel_toolbox">    
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                <div class="x_content">
                  <h3>سرویس ساختاریافته سرویسی است که شما در ابتدای ایجاد سرویس 
                      شما ساختار داده‌های ورودی را تعیین می‌کنید.</h3>
                  <br>
                  <h2>این سرویس مناسب زمانی است که شما نیاز دارید داده‌ها را 
                      به صورت برخط در قالب json به سرور ارسال کنید، 
                      پس لازم است ساختار فایل json از جمله تعداد و نام متغیرهای ورودی را از قبل مشخص کنید.
                  </h2>
                  <br>
                  <div class="clearfix"></div>
                  <a href="/AddStructuredService">
                    <button type="button" class="btn btn-default btn-lg btn-block">ایجاد سرویس ساختاریافته</button>
                  </a>
                </div>
              </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                  <div class="x_title">
                      <h2>ایجاد سرویس بدون ساختار</h2>
                      <ul class="nav navbar-left panel_toolbox">    
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                <div class="x_content">
                  <h3>سرویس بدون ساختار سرویسی است که شما برای داده‌های ورودی ساختاری تعیین نمی‌کنید.</h3>
                  <br>
                  <h2>این سرویس مناسب زمانی است که شما فایلی از جدول داده‌ها (csv.)
                      دارید و می‌خواهید فقط داده‌های این فایل را خوشه بندی کنید.
                      اگر تمام داده‌های شما در یک فایل موجود است این نوع سرویس به شما کمک می‌کند تا
                      سریع‌تر سرویس خود را راه‌اندازی کنید.
                  </h2>
                  <br>
                  <div class="clearfix"></div>
                  <a href="/AddUnStructuredService">
                    <button type="button" class="btn btn-default btn-lg btn-block">ایجاد سرویس بدون ساختار</button>
                  </a>
                </div>
              </div>
          </div>

          <div class="clearfix"></div>

        </div>

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                  <h2>راهنمای سرویس ها</h2>
                  <ul class="nav navbar-left panel_toolbox">    
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>

              <div class="x_content">
                  <h2>سرویس ساختاریافته:</h2>
                  
                  <p>در این سرویس شما با انجام چند مرحله می‌توانید سرویس خود را راه اندازی کنید.
                    که شامل مراحل زیر است. <br>
                     1.تعیین مشخصات سرویس (نام سرویس)، 
                     2.تعیین ساختار داده سرویس (تعیین نام متغیرهای ورودی)، 
                     3.تعیین پارامترهای الگوریتم خوشه‌بندی، 
                     4.تعیین میزان اعتبار سرویس، 
                     5.تعیین وضعیت سرویس (فعال سازی و تنطیم تاریخ انقضا) <br>
                     بدین ترتیب سرویس شما فعال می‌شود و با در اختیار قرار گرفتن یک توکن و تنظیم آن در header درخواست خود می‌توانید داده‌های خود را در قالب فرمت json به سرور ارسال کنید. 
                    </p>
                  <div class="clearfix"></div>
                  <br><br>
                  <h2>سرویس بدون ساختار:</h2>
                  
                  <p>در این سرویس شما در ابتدا فایلی با فرمت csv در سامانه بارگذاری می‌کنید سپس با نمایش چند سطر اول این فایل شما می‌توانید با اعمال فیلتر بر روی ستون‌ها مشخص کنید که کدام ستون‌ها بررسی شوند و کدام ستون‌ها نادیده گرفته شوند.
                    در گام بعدی شما با تعیین مقدار شعاع epsilon میکرو خوشه ها و هم چنین شعاع epsilon الگوریتم DBSCAN می‌توانید شروع به خوشه‌بندی داده‌ها نمایید. 
                  </p>
                  <div class="clearfix"></div>
                  <br><br>
                  <h2>پارامترهای الگوریتم خوشه‌بندی:</h2>
                  <p><ul><li><strong>شعاع epsilon میکرو خوشه ها :</strong>داده های شما قبل از خوشه بندی در میکروخوشه‌هایی دسته بندی می‌شوند. این پارامتر تعیین‌کننده‌ی مقدار شعاع epsilon این میکرو خوشه‌ها می‌باشد. </li>
                    <br><li><strong>شعاع epsilon الگوریتم DBSCAN :</strong>داده های شما بعد از دسته‌بندی در میکروخوشه‌ها توسط الگوریتم DBSCAN خوشه‌بندی می‌شوند. این پارامتر تعیین‌کننده‌ی مقدار شعاع  epsilon الگوریتم DBSCAN می‌باشد.</li>
                    <br><li><strong>ضریب اهمیت داده قدیمی :</strong> این پارامتر اهمیت داده قدیمی را مشخص می‌کند هر چه قدر این مقدار بیشتر باشد اهمیت داده‌های قدیمی کمتر است. این پارامتر باید بزرکتر از صفر باشد.</li>
                    </ul>
                  </p>
              </div>

            </div>

          </div>

        </div>
    </div>
<% } %>

