
<%: func ResultServiceHandler(u datalayer.UserLogin,sid string,serv datalayer.Service,clu denstream.USresult,exctime string, w io.Writer) %>


<%~ "layout.html" %>

<%@ title { %>
    نتیجه عملیات خوشه بندی
<% } %> 
<%@ username { %>
  <%= u.Fname+" "+u.Lname %>
<% } %> 
<%@ style { %>
    <!-- iCheck -->
    <link href="/StaticUI/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<% } %>
<%@ script { %>
  <!-- bootstrap-progressbar -->
  <script src="/StaticUI/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<% } %>
<%@ myscript { %>
  <script>
    $("#form").on("submit", function (e) {
        e.preventDefault();
        const myForm = document.getElementById("form");
        const data = $("#form").serialize();
        var $self = $(this);
        $.ajax({
            url: window.location.pathname+"/FindCluster",
            type: "POST",
            data : data,
        }).success( function(res){
            document.getElementById("findclu").innerHTML = res;
            
        });
    });
    $("#form1").on("submit", function (e) {
        e.preventDefault();
        const myForm = document.getElementById("form1");
        const data = $("#form1").serialize();
        var $self = $(this);
        $.ajax({
            url: window.location.pathname+"/CheckData",
            type: "POST",
            data : data,
        }).success( function(res){
            document.getElementById("checkdata").innerHTML = res;            
        });
    });
</script>
<% } %>

<%@ body { %>
  <div class="">
      <div class="page-title">
          <div class="title_right">
            <h3>نتیجه عملیات خوشه بندی</h3>
          </div>
      </div>
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>نتیجه خوشه بندی داده‌ها</h2>
                <ul class="nav navbar-left panel_toolbox">    
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-5 col-lg-4 col-sm-5">              
              <h2>نام فایل:</h2>
              <h3><%= serv.Name.String %></h3>
              <br>
              <h2>تاریخ ایجاد سرویس:</h2>
              <h3><%= ptime.ToPersian(serv.Created.Time) %></h3>
              <br>
              <h2>اعتبار پرداخت شده:</h2>
              <% if serv.Credit.Int32==-1 {%>
                <h3>سرویس رایگان</h3>  
              <% }else { %>
                <h3><%= fmt.Sprint(serv.Credit.Int32) %></h3>  
              <% } %>                       
            </div>
            <div class="col-md-7 col-lg-8 col-sm-7">
              <!-- blockquote -->
              <blockquote>
                <h3>تعداد داده های بررسی شده:</h3>
                <h1><%= fmt.Sprint(clu.NumData) %></h1>
                <br>
                <h3>تعداد میکرو خوشه های ایجادشده:</h3>
                <h1><%= fmt.Sprint(clu.NumMicro) %></h1>
                <br>
                <h3>تعداد خوشه های ایجادشده:</h3>
                <h1><%= fmt.Sprint(len(clu.Clusters)) %></h1> 
                <% if exctime!="" {%>
                  <h3>زمان اجرای عملیات خوشه بندی:</h3>
                  <h1><%= exctime %></h1> 
                <% } %>  
              </blockquote>

            </div>
            
          </div>

        </div>

      </div>
      <div class="clearfix"></div>
      <% if serv.HDcount.Int32==2 {%>
        <!-- نمودار داده‌های دریافتی -->
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                  <h2>نمودار داده‌های دریافتی</h2>
                  <ul class="nav navbar-left panel_toolbox">    
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <a>خوشه های متفاوت با رنگ های متفاوت جدا شده اند.</a>
                <br>
                <img src=<%= "/Plot/a-"+sid+".png" %> class="img-responsive" alt="Responsive image">
              </div>

            </div>

          </div>

        </div>
        <div class="clearfix"></div>
        <!-- نمودار خوشه های ایجاد شده -->
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                  <h2>نمودار خوشه های ایجاد شده</h2>
                  <ul class="nav navbar-left panel_toolbox">    
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>

              <div class="x_content">
                  <a>خوشه های متفاوت با رنگ های متفاوت جدا شده اند. هر نقطه در نمودار نشان دهنده
                    یک میکرو خوشه است که شعاع آن با میله‌های خطا مشخص شده است.
                  </a>
                  <br>
                  <img src=<%= "/Plot/c-"+sid+".png" %> class="img-responsive" alt="Responsive image">
              </div>

            </div>

          </div>

        </div>
        <div class="clearfix"></div>
      <% } %>

      <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>پیدا کردن خوشه یک داده</h2>
                    <ul class="nav navbar-left panel_toolbox">    
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
              <div class="x_content"> 
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="panel-title">راهنما</h4>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpane" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <p><strong>راهنمای پیدا کردن خوشه یک داده</strong>
                        </p>
                        در این قسمت شما می‌توانید با وارد کردن مقادیر یک داده، خوشه‌ای که 
                        این داده متعلق به آن است را پیدا کنید.
                        <br>
                        در صورتی که یک داده متعلق به چندین خوشه باشد، تمام خوشه‌هایی که این داده میتواند متعلق
                        به آن باشد نمایش داده می‌شوند.
                        
                      </div>
                    </div>
                  </div>                  
                </div>               
                <br>
                <form id="form" novalidate>
                  <span class="section">داده ورودی</span>
                  <% i:=0 %>
                  <% for _, v := range clu.HdrName { %>
                    <div class="form-group">
                      <label for="data0_<%= fmt.Sprint(i) %>"><%= v %> : </label>
                      <input dir="ltr" class="form-control" type="number" id="data0_<%= fmt.Sprint(i) %>" name="data0_<%= fmt.Sprint(i) %>"  step="1">
                    </div>
                    <% i++ %>
                  <% } %>
                <input type="hidden" name="count" value="<%= fmt.Sprint(len(clu.HdrName)) %>">
                
                <div class="ln_solid col-md-4 col-sm-4 col-xs-12"></div>
                <div>               
                  <a>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">  یافتن خوشه  </button>
                  </a>
                </div>
                </form>
                <div class="">
                  <div id="findclu" class="product_price"></div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>بررسی وضعیت دو داده</h2>
                    <ul class="nav navbar-left panel_toolbox">    
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
              <div class="x_content"> 
                <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                  <div class="panel">
                    <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="panel-title">راهنما</h4>
                    </a>
                    <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <p><strong>راهنمای بررسی وضعیت دو داده</strong>
                        </p>
                        در این قسمت شما می‌توانید با وارد کردن مقادیر دو داده متفاوت، به وضعیت این دو داده 
                        نسبت به هم پی ببرید.                  
                        <br>
                        وضعیت دو داده نسبت به هم شامل متعلق بودن یا نبودن به یک خوشه
                        و همچنین متعلق بودن یا نبودن به یک میکرو خوشه می‌باشد.
                        
                      </div>
                    </div>
                  </div>                  
                </div>               
                <br>
                <form id="form1" novalidate>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="border-left: 2px solid #dbdbdb;">
                    <span class="section">داده اول</span>
                    <% j1:=0 %>
                    <% for _, v := range clu.HdrName { %>
                      <div class="form-group">
                        <label for="data0_<%= fmt.Sprint(j1) %>"><%= v %> : </label>
                        <input class="form-control" dir="ltr" type="number" id="data1_<%= fmt.Sprint(j1) %>" name="data1_<%= fmt.Sprint(j1) %>"  step="1">
                      </div>
                      <% j1++ %>
                    <% } %>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <span class="section">داده دوم</span>
                    <% j2:=0 %>
                    <% for _, v := range clu.HdrName { %>
                      <div class="form-group">
                        <label for="data0_<%= fmt.Sprint(j2) %>"><%= v %> : </label>
                        <input class="form-control" dir="ltr" type="number" id="data2_<%= fmt.Sprint(j2) %>" name="data2_<%= fmt.Sprint(j2) %>"  step="1">
                      </div>
                        <% j2++ %>
                    <% } %>
                  </div>
                <input type="hidden" name="count" value="<%= fmt.Sprint(len(clu.HdrName)) %>">
                
                <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">               
                  <a href="/AddStructuredService">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">  بررسی وضعیت  </button>
                  </a>
                </div>
                </form>       
                <div class="">
                  <div id="checkdata" class="product_price"></div>
                </div>
                
              </div>
            </div>
        </div>

        <div class="clearfix"></div>

      </div>

  </div>
<% } %>

